@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body{
  @apply m-0 p-0 box-border bg-white min-h-full
}

body{
  @apply min-h-full grid items-center
}

.padding {
  @apply px-5 md:px-10 xl:px-64
}

.card-placeholder{
  @apply h-56 w-40 rounded-2xl border-2 p-5 border-white grid items-center font-bold text-white text-center
}

.card-design{
  @apply h-56 w-40 rounded-2xl bg-white text-black border -outline-offset-8 outline
}

.cover{
  @apply z-40 absolute w-full h-full bg-black bottom-0 top-0 right-0 left-0 duration-300  flex items-center justify-center gap-5 font-bold text-white
}

.button{
  @apply  py-3 rounded-xl underline-offset-2 underline
}

nav a{
  @apply py-1 border border-black rounded-md px-5
}

nav a.active{
  @apply underline font-bold bg-black text-white
}


/* Style for the card */
.card {
  perspective: 1000px;
}

.card-inner {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

/* .card:hover .card-inner {
  transform: rotateY(180deg);
} */
.card-flip {
  display: absolute;
  transform: rotateY(180deg);
  scale: 105%;
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(180deg);
  display: grid;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card-back {
  @apply grid items-center h-full w-full bg-black rounded-xl text-white border -outline-offset-8 outline
}

.card-content {
  height: 100%;
  padding: 20px;
  display: grid;
  text-align: center;
  place-items: center;
}